@import "tailwindcss";
@plugin "daisyui";

:root {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }